.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4 9 30 / 52%)),url(bg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.custom-color-1{
	color: #fff;
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.custom-color-2{
	color:#fff;
}

.cards-col{
	flex-basis: 31%;
	background: #f2f2f2;
	border-radius: 10px;
	margin-bottom: 5%;
	padding:20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

h3{
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}



.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;

}

.about-cards-col{
	background: #6381ce1a;
	border-radius: 10px;
	margin-bottom: 5%;
	padding:20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}


.fb{
	color: #fff;
	background-color: #272727d1;
}

.fb2{
	color: #fff;
	background-color: #3f3f3f;
}

.flinks{
	text-decoration: none;
	text-decoration-line: none;
}

.p-2.bd-highlight:hover{
	color: blue;
}